.u-section-1 .u-sheet-1 {
  min-height: 158px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 58px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}