.u-section-1 .u-sheet-1 {
  min-height: 286px;
}.u-section-2 .u-sheet-1 {
  min-height: 387px;
}

.u-section-2 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-2 .u-line-1 {
  width: 300px;
  transform-origin: right center 0px;
  margin: 52px 114px 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  margin: -15px auto 0;
}

.u-section-2 .u-line-2 {
  width: 300px;
  transform-origin: left center 0px;
  margin: -15px auto 0 114px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 45px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    margin-right: 40px;
  }

  .u-section-2 .u-line-2 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}