 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-text-1 {
  margin: 128px 0 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}